{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Hangarin: Task & To-Do Manager{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

    <div class="navbar">
        <h2>Hangarin: Task & To-Do Manager</h2>
        <div class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="#">Calendar</a>
            <a href="#">Settings</a>
        </div>
    </div>

        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>