{% extends 'base.html' %}
{% block content %}
<div class="note-form-container">
  <h2 class="note-form-title">
    {% if object %}Edit Note{% else %}Add Note{% endif %} for "{{ task.title }}"
  </h2>
  <form method="post" class="note-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">
      {% if object %}Update{% else %}Save{% endif %}
    </button>
    <a href="{% url 'notes-list' task_id=task.id %}" class="btn btn-primary">Cancel</a>
  </form>
</div>
{% endblock %}
